---
import TechIcon from "@/components/TechIcon.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-orange-600 text-white",
    icon: "HTMLIcon"
  },
  CSS: {
    name: "CSS",
    class: "bg-sky-600 text-white",
    icon: "CSSIcon"
  },
  REACT: {
    name: "React",
    class: "bg-cyan-600 text-white",
    icon: "ReactIcon"
  },
  AWS: {
    name: "AWS",
    class: "bg-orange-400 text-white",
    icon: "AWSIcon"
  },
  FIGMA: {
    name: "Figma",
    class: "bg-white text-white",
    icon: "FigmaIcon"
  }
};

const PROJECTS = [
  {
    title: "OHLIVE",
    description:
      "Aplicación móvil para presentar un catálogo de productos 3D en Realidad Aumentada. Desarrollada desde cero con React. Arquitectura cloud desarrollada mediante servicios AWS",
    image: "/projects/Ohlive.webp",
    repository: "",
    url: "",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.AWS, TAGS.REACT]
  },
  {
    title: "Diseño de aplicación móvil",
    description:
      "Diseño de la interfaz de una aplicación móvil desarrollada con Figma. Se prototipan las interacciones entre las diferentes pantallas y elementos de la aplicación",
    image: "/projects/Prototype.webp",
    repository: "",
    url: "",
    tags: [TAGS.FIGMA]
  }
];
---

{
  PROJECTS.map(({ title, description, image, repository, tags, url }) => (
    <article
      class="grid gap-x-4 gap-y-2 py-4"
      style="grid-template-columns: 2fr 3fr; grid-template-rows: auto auto auto auto;"
    >
      <img
        alt={`Captura de pantalla del proyecto "${title}"`}
        class="self-center rounded shadow-2xl shadow-white/20 w-full aspect-video border-white/80 row-span-full"
        src={image}
      />
      <h3 class="text-xl font-semibold text-gray-900 dark:text-yellow-200">
        {title}
      </h3>
      <ul class="flex gap-x-2">
        {tags.map(({ name: title, class: className, icon }) => (
            <li
              class={`flex gap-x-2 items-center text-xs rounded-full px-2 border border-white/20 bg-white/5 ${className}`}
            >
              <TechIcon icon={icon} class="size-4"/>
              {title}
            </li>
          )
        )}
      </ul>
      <p class="text-md text-pretty">{description}</p>
      <footer class="flex gap-x-4">
        {url && <button>Preview</button>}
        {repository && <button>Github</button>}
      </footer>
    </article>
  ))
}
